<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Combipower_TessAI">
        <sequence>
            <module name="Magento_Catalog" />
            <module name="Magento_CatalogInventory" />
            <module name="Magento_Directory" />
            <module name="Magento_Quote" />
            <module name="Magento_Shipping" />
            <module name="Magento_Tax" />
            <module name="Magento_Webapi" />
            <module name="GbiVarpo_Inventory" />
            <module name="GbiVarpo_StockInfo" />
        </sequence>
    </module>
</config>
