<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="combipower" translate="label" sortOrder="850">
            <label>Combipower</label>
        </tab>

        <section id="combipower_tess_ai" translate="label" type="text" sortOrder="850" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>TESS AI</label>
            <tab>combipower</tab>
            <resource>Combipower_TessAI::config</resource>

            <group id="attribute_mapping" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Attribute Mapping</label>

                <field id="supplier_attribute" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Supplier Attribute Code</label>
                    <comment>Product attribute code used for supplier filter.</comment>
                </field>

                <field id="brand_attribute" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Attribute Code</label>
                    <comment>Product attribute code mapped to brand_dge and brand filter.</comment>
                </field>

                <field id="barcode_attribute" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Barcode Attribute Code</label>
                    <comment>Product attribute code mapped to API field barcode and ean query filter.</comment>
                </field>

                <field id="manufacturer_number_attribute" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manufacturer Number Attribute Code</label>
                    <comment>Product attribute code mapped to manufacturer_number.</comment>
                </field>

                <field id="unit_attribute" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Unit Attribute Code</label>
                    <comment>Product attribute code used to render sale unit label.</comment>
                </field>
            </group>

            <group id="shipping_estimate" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipping Estimate</label>

                <field id="country_id" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <comment>Country used when calculating shipping_cost for Pricing Tool API products.</comment>
                </field>

                <field id="region_id" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping Region ID</label>
                    <comment>Optional Magento region ID for the default shipping address.</comment>
                </field>

                <field id="region" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping Region</label>
                    <comment>Optional region text for countries without a Magento region ID.</comment>
                </field>

                <field id="postcode" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping Postcode</label>
                    <comment>Postcode used by shipping rules such as table rates.</comment>
                </field>

                <field id="city" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping City</label>
                    <comment>City used by shipping rules when required by carriers.</comment>
                </field>

                <field id="street" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping Street</label>
                    <comment>Street used by shipping rules when required by carriers.</comment>
                </field>

                <field id="shipping_method" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping Method Code</label>
                    <comment>Optional carrier_method code, for example flatrate_flatrate. Leave empty to use the cheapest available rate.</comment>
                </field>
            </group>

            <group id="delivery_time" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Delivery Time</label>

                <field id="message_template" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery Message Template</label>
                    <comment><![CDATA[Message returned as <code>delivery_time</code>. Use the <code>[DATE]</code> placeholder to inject the expected delivery date, e.g. <code>Verwachte leverdatum: [DATE]</code>. Leave empty to omit the field.]]></comment>
                </field>

                <field id="days" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping Days</label>
                    <validate>validate-zero-or-greater-integer</validate>
                    <comment>Number of days added to today when rendering [DATE]. Example: 3 → today + 3 days.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
